* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    background-color:lavenderblush;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.wholebox {
    width: 800px;
    height: 600px;
    background-color:darkturquoise;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.firstbox {
    display: flex;
    width: 800px;
    justify-content: space-around;
}


.item {
    width: 200px;
    height: 230px;
    margin-top: 20px;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img {
    width: 200px;
    height: 200px;
}


.added-item-image {
    max-width: 100px;
    max-height: 100px; 
    margin-right: 10px; 
}



#addeditem {
    max-height: 200px; 
    overflow-y: auto; 
    overflow-x: hidden;
}

.added-item {
    margin-bottom: 10px; 
}


.rembtn {
    height: 20px;
}
